* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    font-style: bold;
    margin: 25px;
}

/* learning never exhausts the mind, Da Vinci */

figure img {
    /*removed    img class="img-responsive">  or do    img  width: 100%  check again*/ 
    border: 8px solid white;
    border-radius: 10px;
}

figure {
    width: 200px;
    height: 260px;
    border-radius: 10px;
    border: 5px solid white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    /*this is fighter div*/
}

figcaption {
    padding: 5px;
    font-size: 20px;
    color: white;
}

/*  col-lg-4 */


.row-sm-3 {
    display: inline-flex;
    margin: 5px;
    padding: 5px;
    position: relative;   /*this changes display- check again*/
    border-image: 10px solid red;
    /*this is figures div*/
}


.panel-title {
    margin: 1px;
    padding: 1px;
}

.h3 {
    font-size: 15px;
    margin: 5px;
    padding: 1px;
    color: darkred;
}

.h2 {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    color: #F5F5F5;
}

.button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.6s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#footer {
    position: fixed;
    right: 0;
    bottom: -5px;
    left: 0;
    text-align: center;
    background: #666666;
}